<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 권한설정 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--    데이터베이스를 백업 추출 하기 위해 필요한 읽기쓰기 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/iconlauncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconlauncher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calender"
        android:name=".StaticUidCode.UidCode"
        android:windowSoftInputMode ="adjustNothing">

<!--  EditText 입력시 화면이 키보드에 밀리면
      해당 액티비티에 android:windowSoftInputMode="adjustNothing" 추가 해주면 됨     -->

        <!-- 제일먼저 실행되는 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.TheEasy.Kisok"/>
            </intent-filter>
        </activity>

        <!-- 캘린더 엑티비티 -->

        <activity
            android:name=".Main_Basic.Main_Basic"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".Calendar_Easy.Calendar_Easy"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>


<!--        <activity-->
<!--            android:name=".Main_Basic.Title_Popup"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


        <activity
            android:name=".Main_Easy.Main_Easy"

            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->


        </activity>

        <activity
            android:name=".addschedule.AddSchedule"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".TTS_Test"
            android:label="@string/app_name"
            android:exported="true">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <!-- 네비게이션 엑티비티 -->
        <activity
            android:name=".Navigation"

            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>
        <activity
            android:name=".nav1"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".setting.Setting_dark"/>
        <activity android:name=".setting.Setting_main"/>
        <activity android:name=".setting.Setting_account"/>
        <activity android:name=".setting.Setting_notification"/>
        <activity android:name=".login_register"/>
        <activity android:name=".login"/>
        <activity android:name=".setting.Setting_main_easy"/>
        <activity android:name=".UserProfile"/>

        <receiver android:name=".AlramManager.AlertReceiver" android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"></action>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>



    </application>

</manifest>